
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* colors variables */
:root{
--secondary-color: rgb(234, 234, 234);
--heading-font : "Nunito", sans-serif;
}

*{
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16.5px;
}


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font) !important;
    font-weight: 650;
}




/* navbar */

.search-input{
    background-color: var(--secondary-color);
    outline: none;
    width: 250px;
    border-radius: 100px;
    
}
.search-btn{
    right: 99px;
    top: 2.5px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -320px; /* Hidden by default */
    width: 320px;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-close {
    cursor: pointer;
    font-size: 24px;
}

.search-input-mobile{
    background-color: var(--secondary-color);
    outline: none;
    width: 200px;
    border-radius: 100px;
    padding: 5px;
}

.search-btn-mobile{
    right: 94px;
    top: 2.8px;
}

/* header */
.header-bg{
    height: 60vh;
    background-image: url("../imgs/hero-bg.jpg");
    background-size: cover;
    
}
.header-para{
    font-size: 18px;
}

/* footer */
.footer-icon{
    border: 1px solid white;
    padding: 8px 10px;
    font-size: 23px;
border-radius: 50%;
}
.footer-icon:hover{
    color: #FFC107;
    border: 1px solid #FFC107;

}

/* posts */
.post-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-text{
    text-align: justify;
}
.post-pagination span{
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    display: flex; justify-content: center;
    align-items: center;
}

.post-pagination span.active , .post-pagination span:hover{
    background-color: black;
    color: white;
}
.dot{
    font-size: 5px !important;
}


/*===================== about page ========================= */
/* header */
.about-header-bg{
    height: 40vh;
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.2 ) , rgba(0, 0, 0, 0.2 ) ), url("../imgs/hero-bg.jpg");
    background-size: cover;
    
}

.about-heading{
    line-height: 55px;
    font-size: 40px;
    padding: 0px 20px;
}